.composer-layout {
  display: flex;
  height: 100vh;
  background: #000;
}

.composer-left {
  width: 60%;
  border-right: 1px solid #1e293b;
  overflow-y: auto;
}

.composer-right {
  width: 40%;
  overflow-y: auto;
}

